{
  "openapi": "3.0.0",
  "info": {
    "title": "ShadowSpark Autonomous Revenue API",
    "version": "2.0.0",
    "description": "API documentation for the ShadowSpark autonomous infrastructure."
  },
  "servers": [
    {
      "url": "https://www.shadowspark-tech.org/api",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/leads/sync": {
      "post": {
        "summary": "Synchronize lead from external source",
        "security": [{ "ApiKey": [] }],
        "responses": {
          "200": { "description": "Lead synchronized" }
        }
      }
    },
    "/contact": {
      "post": {
        "summary": "Submit a pilot-program contact request",
        "description": "Validates a public contact request and forwards it to BACKEND_API_URL/v1/leads. If that backend route returns 404, the request is accepted into a local JSON Lines fallback sink and the response lists the missing route.",
        "tags": ["Contact"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email", "message"],
                "additionalProperties": false,
                "properties": {
                  "name": { "type": "string", "minLength": 2, "maxLength": 100 },
                  "email": { "type": "string", "format": "email", "maxLength": 254 },
                  "company": { "type": "string", "maxLength": 200 },
                  "message": { "type": "string", "minLength": 10, "maxLength": 5000 }
                }
              },
              "example": {
                "name": "Ada Lovelace",
                "email": "ada@example.com",
                "company": "Analytical Engines",
                "message": "We want to evaluate a lending workflow pilot."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request validated and forwarded to the backend",
            "content": {
              "application/json": {
                "example": { "success": true }
              }
            }
          },
          "202": {
            "description": "Backend lead route was missing and the request was stored in the local fallback sink",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "fallback": "local-json",
                  "MISSING": ["/v1/leads"]
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or invalid contact fields",
            "content": {
              "application/json": {
                "example": {
                  "error": "Validation failed",
                  "fields": { "email": ["Invalid email address"] }
                }
              }
            }
          },
          "429": { "description": "Too many requests from this client" },
          "500": { "description": "Local fallback sink could not store a backend-404 request" },
          "502": { "description": "Backend request failed or returned an unsuccessful status" },
          "503": { "description": "BACKEND_API_URL is missing or invalid" }
        }
      }
    },
    "/lead": {
      "post": {
        "summary": "Create or update a lead",
        "description": "Creates or updates a lead record from submitted lead data. Rate limited to 100 requests per 10 seconds per CF-Connecting-IP.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string" }
                },
                "additionalProperties": true
              },
              "example": {
                "email": "lead@example.com",
                "source": "landing-page",
                "campaign": "semantic-growth"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Lead created or updated successfully" },
          "400": { "description": "Email is required" },
          "429": { "description": "Too many requests from the same IP" },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/lead/export/{leadId}": {
      "get": {
        "summary": "Export lead data for NDPA compliance",
        "description": "Requires an admin session. Returns the lead together with matching SystemEvents and EmailEvents.",
        "security": [{ "SessionAuth": [] }],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Lead export returned successfully" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Lead not found" },
          "500": { "description": "Export failed" }
        }
      }
    },
    "/lead/delete/{leadId}": {
      "delete": {
        "summary": "Soft delete a lead for NDPA compliance",
        "description": "Requires an admin session. Soft deletes a lead by setting status to DELETED and clearing the email address.",
        "security": [{ "SessionAuth": [] }],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Lead soft deleted successfully" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Lead not found" },
          "500": { "description": "Delete failed" }
        }
      }
    },
    "/webhooks/paystack": {
      "post": {
        "summary": "Process Paystack webhooks",
        "description": "Verifies the HMAC-SHA512 signature, ignores duplicate references, updates the lead tier, and records a payment_received SystemEvent.",
        "responses": {
          "200": { "description": "Webhook accepted" },
          "400": { "description": "Missing reference or leadId" },
          "401": { "description": "Invalid signature" },
          "500": { "description": "Webhook processing failed" }
        }
      }
    },
    "/ai/health": {
      "get": {
        "summary": "System health check",
        "responses": {
          "200": { "description": "System operational" }
        }
      }
    },
    "/operator/metrics": {
      "get": {
        "summary": "Get real-time operator dashboard metrics",
        "security": [{ "SessionAuth": [] }],
        "responses": {
          "200": { "description": "Metrics retrieved" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-sync-secret"
      },
      "SessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "authjs.session-token"
      }
    }
  }
}
